<div class="row">
  <div class="col-5">
    <app-liste (eventToCv)="recupererCandidatSelectionne($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidat) {
    <app-details [selCandidate]="selectedCandidat"></app-details>
    } @else {
    <i>Veuillez sélectionner un candidat</i>
    }
  </div>
</div>

<button (click)="addHandler()" class="btn btn-outline-primary">
  Add Candidat
</button>
<button (click)="showCandidats()" class="btn btn-outline-danger">
  Affiche Candidats Depuis CV
</button>
