<input [(ngModel)]="selectedStatus" type="text" class="form-control" />

<br />
<ol class="list-group">
  @for (server of tabServers | filter:selectedStatus; track $index) {
  <li class="list-group-item" [ngClass]="affecterClass(server.status)">
    {{ server.name | short : 30 }} | {{ server.type | titlecase }} |
    {{ server.date_d | date : "fullDate" | uppercase }}
    <span class="badge text-bg-secondary">
      {{ server.status }}
    </span>
  </li>
  }
</ol>

<button class="btn btn-outline-primary" (click)="addHandler()">
  Add Server
</button>
