<ol class="list-group">
  @for (cand of listeCandidats; track $index) {
  <!-- <p>{{ $index }} {{ $odd }} {{ $even }} {{ $first }} {{ $last }}</p> -->
  <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [oneCandidate]="cand"
  ></app-item>

  }
  <!-- <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [oneCandidate]="listeCandidats[1]"
  ></app-item>
  <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [oneCandidate]="listeCandidats[2]"
  ></app-item> -->
</ol>

<button (click)="showCandidats()" class="btn btn-outline-warning">
  Affiche Candidats Depuis Liste
</button>
